.bounce {
    display: inline-block !important;
    font-size: 60px !important;
    animation: flash 5s infinite !important;
    animation: bounce 2s infinite !important;
  }

@keyframes flash{
    0% {
      color: red;
    }
    20% {
      color: orange;
    }
    40% {
      color: yellow;
    }
    60% {
      color: green;
    }
    80% {
      color: blue;
    }
    100% {
      color: purple;
    }
}
  
@keyframes bounce {
    0% {
      transform: scale(1,1)
      translateY(0);
      color: red;
    }
    10% {
      transform: scale(1.1, 0.9)
      translateY(0);
    }
    20% {
      color: orange;
    }
    30% {
      transform: scale(.9, 1.1)
      translateY(-55px)
    }
    40% {
      color: yellow;
    }
    50% {
      transform: scale(1.05,0.95)
      translateY(0);
    }
    58% {
      transform: scale(1,1)
      translateY(-7px)
    }
    60% {
      color: green;
    }
    65% {
      transform: scale(1,1)
      translateY(0);
    }
    80% {
      color: blue;
    }
    100% {
      transform: scale(1,1)
      translateY(0);
      color:purple;
    }
}