.App {
  text-align: center;
  padding: 2vw;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Head_Title {
  animation: fadeIn 1s;
  font-size: calc(10px + 7vmin);
  text-align: left;
}

.fade-in { animation: fadeIn 1s; }


@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.changingText::before {
  content: "Software Engineer";
  animation: animate infinite 10s;
  padding-left:10px;
}

@keyframes animate {
  
  0% {
      content: "Software Engineer";
      color: red
  }

  10% {
      content: "Neuroscientist";
      color: orange
  }

  20% {
      content: "Biologist";
      color: yellow
  }

  30% {
      content: "Project Manager";
      color: greenyellow
  }

  40% {
      content: "AI Engineer";
      color: blue
  }

  50% {
    content: "Neuroscientist";
    color: blueviolet
  }

  60% {
      content: "Biologist";
      color: violet
  }

  70% {
      content: "Project Manager";
      color: black
  }

  80% {
      content: "AI Engineer";
      color: gold
  }
  90% {
    content: "Project Manager";
    color: silver
  }

  100% {
      content: "AI Engineer";
      color: burlywood
  }
} 